header {
  background: $color-odysseus;
  &.header-sticky {
    position: fixed;
    animation: 0.5s linear 0s normal none running HeaderFadeIn;
    width: 100%;
    right: 0;
    top: 0;
    margin-top: 0;
    z-index: 100;
  }
  &.header {
    @include media-breakpoint-only(lg) {
      .navbar-brand {
        max-width: initial;
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
      }
      a.site-logo {
        max-width: $logo-md-width;
      }
    }
    @include media-breakpoint-between(sm, md) {
      .navbar-brand {
        margin: auto;
      }
    }
  }
}

@keyframes HeaderFadeIn {
  0% {
    top: -50px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
