header {
  background: $color-odysseus;
  &.header-sticky {
    position: fixed;
    animation: 0.5s linear 0s normal none running HeaderFadeIn;
    width: 100%;
    right: 0;
    top: 0;
    margin-top: 0;
    z-index: 100;
  }
}

@keyframes HeaderFadeIn {
  0% {
    top: -50px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
