.node--type-partners {
  .node {
    .node__content {
      .field--type-image {
        float: none;
        text-align: center;
        img {
          margin: 0 0 4em;
        }
      }
    }
  }
}
