// Colors variables
//
// config/colors.scss
//
// $main-gray - Main gray
//
// markup:
//   <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
//
// Styleguide 1.2

// $white: #fff;
// $black: #000;
// $main-gray: #7a7a7a;
// $second-gray: #727272;
// $gray-dark: #4c4c4c;
// $gray-light: #d3d3d3;
// $main-orange: #ec6d06;
// $main-blue: #196dba;
// $blue-medium: #5d98ce;
// $light-blue: #65e2ff;*/

// Component color
// Main menu color
//
// Styleguide 1.1.1

// $menu-main-link: $main-gray;
// $menu-main-link-hover: darken($main-gray, 20%);
// $menu-main-link-active: darken($main-gray, 20%);

// $banner-text-color: $white;
// $banner-background-overlay: $black;

// $menu-mobile-background: $main-blue;
// $menu-mobile-link-color: $white;

// $button-main-background: $main-orange;

// $single-box-text-color: $second-gray;

// $side-image-banner-background-color: $main-blue;
// $side-image-banner-background-color-secondary: darken($main-blue,15%);
// $side-image-banner-text-color: $white;

// $blog-subtitle-text-color: $main-blue;
// $blog-text-color: $second-gray;

// $footer-background: $gray-dark;
// $footer-text-color: $white;

// $link-color: $main-blue;
// $link-hover-color: darken($link-color, 5%);
// $link-dropdown-menu-bg-hover: $gray-light;
