<h4><strong>Informacja ogólna</strong></h4>

<p>Poniższa polityka prywatności oraz plików cookie opisuje zasady postępowania z&nbsp;danymi osobowymi oraz opisuje zasady wykorzystania plików cookie i&nbsp;innych technologii w&nbsp;obrębie strony Droptica.pl.</p>

<p>Administratorem danych osobowych jest firma Droptica sp. z&nbsp;o. o.z siedzibą we Wrocławiu ul. Duńska 9, 54-427 ,&nbsp;NIP 8971788756</p>

<p>Kontakt z&nbsp;Administratorem możliwy jest za pomocą adresu e-mail: info@droptica.com</p>

<h4><strong>§1 Definicje</strong></h4>

<p>Na potrzeby poniższej polityki prywatności określa się następujące znaczenie występujących w&nbsp;niej pojęć:</p>

<ol>
    <li>Administrator - Droptica sp. z o. o.z siedzibą we Wrocławiu ul. Duńska 9, 54-427 , NIP 8971788756</li>
    <li>Strona - strona internetowa dostępna pod adresem www.droptica.pl</li>
    <li>Użytkownik - każdy podmiot korzystający ze strony</li>
</ol>

<h4><strong>§2 Dane Osobowe</strong></h4>

<ol>
    <li>Administratorem danych osobowych jest Administrator.</li>
    <li>Użytkownik ma możliwość przekazywania swoich danych osobowych za pośrednictwem formularzy takich jak: formularz kontaktowych oraz formularzy zapisu do newslettera.</li>
    <li>Użytkownik ma możliwość dobrowolnego przekazania swoich danych osobowych Administratorowi w celu wysyłki newslettera lub kontaktu w ramach odpowiedzi na zapytanie udzielone w formularzu kontaktowym.</li>
    <li>Dane osobowe przekazane Administratorowi za pomocą strony będą przetwarzane wyłącznie na potrzeby wyżej określonych celów.</li>
    <li>Administrator zapewnia poufność wszelkich przekazanych danych osobowych oraz dokłada wszelkich starań do zabezpieczenia ich bezpieczeństwa w szczególności dostępu do nich podmiotów trzecich.</li>
    <li>Podanie danych osobowych jest zawsze dobrowolne i zależy wyłącznie od woli użytkownika.</li>
    <li>Podanie danych osobowych jest niezbędne do realizacji wymienionych akcji (zapisanie do newslettera, wysłanie wiadomości za pośrednictwem formularza kontaktowego).</li>
    <li>Przekazane dane osobowe nie są i nie będą przekazywane podmiotom trzecim.</li>
    <li>Administrator deklaruje, że dane osobowe gromadzone będą z należytą starannością i stosownie chronione przed dostępem osób nieupoważnionych.</li>
    <li>Użytkownik dysponuje następującymi uprawnieniami:
        <ul>
            <li>prawo do dostępu do swoich danych, ich sprostowania, usunięcia lub ograniczenia przetwarzania,</li>
            <li>prawo do wniesienia sprzeciwu wobec przetwarzania a także przenoszenia danych osobowych,</li>
            <li>prawo do cofnięcia zgody na przetwarzanie danych osobowych w określonym celu, jeżeli Użytkownik uprzednio taką zgodę wyraził,</li>
            <li>prawo do wniesienia skargi do organu nadzorczego w związku z przetwarzaniem danych osobowych,</li>
        </ul>
    </li>
    <li>Dane osobowe użytkownika przekazywane w ramach zapisania się do newslettera przekazywane są do Stanów Zjednoczonych poprzez zapisanie ich na serwerach zlokalizowanych na terytorium Stanów Zjednoczonych. Przekazanie tych danych odbywa się w związku z wykorzystywaniem przez Administratora usługi dostarczanej przez system MailChimp, a którego dostawcą jest podmiot będący firmą amerykańską. Podmiot ten zapewnia poufność danych które są mu przekazane.</li>
</ol>

<h4><strong>§3 Pliki Cookies</strong></h4>

<ol>
    <li>Administrator informuje, że korzysta z plików cookies (znanych także pod nazwą “ciasteczka”). Pliki cookies są to małe informacje tekstowe przechowywane na Komputerze, smartfonie, tablecie lub innym podobnym urządzeniu użytkownika. Pliki cookies umożliwiają odczytywanie ich za pośrednictwem systemu teleinformatycznego Administratora.</li>
    <li>Administrator przechowuje pliki cookies na urządzeniu końcowym użytkownika w celu uzyskiwania informacji zawartych w nich w celach statystycznych, marketingowych oraz w celu zapewnienia poprawnego działania strony.</li>
    <li>Administrator informuje niniejszym iż istnieje możliwość konfiguracji przeglądarki internetowej z której korzysta użytkownik tak by niemożliwe było przechowywanie plików cookies na jego urządzeniu. Wiąże się to jednak z utrudnieniami w działaniu strony na urządzeniu użytkownika.</li>
    <li>Administrator informuje że pliki cookies po zapisaniu ich na urządzeniu użytkownika mogą być przez tego tego użytkownika usunięte za pomocą funkcje przeglądarki internetowej, oprogramowanie dedykowane temu zadaniu lub za pomocą systemu operacyjnego z którego korzysta użytkownik na swoim urządzeniu.</li>
</ol>

<h4><strong>§4 Lista używanych Cookies</strong></h4>

<ol>
    <li>Google Analytics - analityka strony.</li>
    <li>Facebook - media społecznośćiowe.</li>
</ol>

<h4><strong>§5 Inne wykorzystywane technologie</strong></h4>

<p>Administrator wykorzystuje również inne technologie śledzące czynności i&nbsp;działania podejmowane przez użytkownika podczas korzystania ze Strony. Należą do nich:</p>

<ul>
    <li>usługi Google Analytics pozwalająca na analizę statystyk strony oraz zachowań Użytkowników,</li>
    <li>system Mautic,</li>
</ul>

<h4><strong>§6 Logi serwera</strong></h4>

<ol>
    <li>W związku z korzystaniem ze strony przez Użytkownika na serwer przesyłane są zapytania, które zapisywane są w logach serwera. Zawierają one takie informacje jak: adres IP Użytkownika, datę oraz czas serwera, informacje o używanej przeglądarce i systemem operacyjnym. Logi są materiałem pomocniczym w administrowaniu Stroną a dostęp do nich ma tylko Administrator.</li>
    <li>Miejscem zapisywania logów jest serwer zewnętrzny.</li>
    <li>Dane zawarte w logach serwera nie są powiązane z konkretnymi Użytkownikami.</li>
    <li>Administrator nie korzysta z logów serwera do identyfikacji Użytkowników.</li>
</ol>
